
.h1{
    color: blue;
    background-color: rgb(218, 218, 38);
}
.staff{
    background-color:rgb(44, 212, 212);
}
.form{
    background-color: aquamarine;
}
.l1{
    background-color: rgb(44, 212, 212);
}
.l2{
    background-color: rgb(44, 212, 212);
}
.l3{
    background-color: rgb(44, 212, 212);
}
.b1{
    background-color: blue;
}