

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(234, 229, 229);
}
.navbar {
  height: 100px;
  width: 100%;
  background-color:#337CCF;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.navigetiontitle{
  color: white;
  padding: 10px;
  line-height: 10px;
}
.formcontainer{
  text-align: center;
}
.card{
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
 }

.fottercontainer{
  border: 2px solid black;
  margin: auto;
  width: 470px;
  margin-top: 28px;
}

.footer-text{
   text-align:"center";
   margin-top: 20px;
   font-size:smaller;

}

.footer-text:hover {
  color:red;
}


.registretion-card{
  width: 700px;
  height: 700px;
  margin: auto;
  margin-top: 50px;
}

.cardcontainer{
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;

}