
body {
  margin: 0;
  padding: 0;
  background-image: url("../src/Components/assets/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}
.navigetiontitle {
  color: white;
  padding: 10px;
  line-height: 10px;
}

.formcontainer {
  text-align: center;
}
.card {
  margin: auto;
  height: 500px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}
.outercard {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid rgb(161, 158, 158);
  border-radius: 50px;
}

.footer-text {
  text-align: "center";
  margin-top: 20px;
  font-size: smaller;
  font-style: italic;
}
.registretion-card {
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 50px;
}

.tast-card {
  width: 655px;
  height: auto;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 50px;

}

.cardcontainer {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
}

.welcometext {
  animation: fadeIn 1.5s ease-in-out;
  text-shadow: 2px 2px 5px rgb(65, 69, 149);
}

.outercard,
.registretion-card {
  animation: fadeIn 1.20s ease-in-out;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid gray;
  animation: typing 4s steps(14, end) infinite, blink-caret 3s step-end infinite;
  text-shadow: 2px 2px 5px gray;
}

.tastbox {
  width: auto;
  height: 76px;
  border: 2px solid rgb(159, 157, 157);
  border-radius: 10px;
  padding: 5px;
  margin: 19px;
}

.statusbox {
  width: auto;
  height: auto;
  border: 2px solid rgb(159, 157, 157);
  border-radius: 10px;
  padding: 5px;
  margin: 22px;
}


.removebtn,
.editbtn {
  float: right;
}

.secondcard {
  width: 620px;
  height: auto;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 20px;
  padding: 20px;
}

.boxone {
  text-align: center;
  margin-top: 20px;
}


.editbtn {
  margin-left: 20px;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes typing {

  0%,
  100% {
    width: 0;
  }

  50% {
    width: 64%;
  }
}