

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(245, 243, 243);
}
.navbar {
  height: 100px;
  width: 100%;
  background-color:#337CCF;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.navigetiontitle{
  color: white;
  padding: 10px;
  line-height: 10px;
}
.formcontainer{
  text-align: center;
}
.card{
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
 }
.fottercontainer{
  margin: auto;
  width: 470px;
  margin-top: 28px;
}
.footer-text{
   text-align:"center";
   margin-top: 20px;
   font-size:smaller;
   font-style: italic;

}
.footer-text:hover {
  color: red;
}
.registretion-card{
  width: 700px;
  height: 700px;
  margin: auto;
  margin-top: 50px;
}
.cardcontainer{
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcometext {
  animation: fadeIn 1.5s ease-in-out;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid gray; 
  animation: typing 4s steps(14, end) infinite, blink-caret 1s step-end infinite;
  text-shadow: 2px 2px 5px #337CCF;
}

@keyframes typing {
  0%, 100% {
    width: 0;
  }
  40% {
    width: 61%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color:transparent;
  }
  40% {
    border-color:gray;
  }
}